/*
=========
  Fonts
=========
*/
@font-face {
    font-family: "YekanBakh Bold";
    src: url(../fonts/YekanBakh-Bold.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Heavy";
    src: url(../fonts/YekanBakh-Heavy.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Medium";
    src: url(../fonts/YekanBakh-Medium.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Regular";
    src: url(../fonts/YekanBakh-Regular.woff) format("woff2");
}

@font-face {
    font-family: "YekanBakh Light";
    src: url(../fonts/YekanBakh-Light.woff) format("woff2");
}


/*
=============
  Reest Css
=============
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=============
  Styles Css
=============
*/

:root {
	--text-color: #1D2939;
	--primery-color: #F6F6F6;
}

html {
	box-sizing: border-box;
	font-size: 10px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: "YekanBakh Bold", sans-serif;
	font-size: 1.6rem;
	line-height: 1.5rem;
	color: var(--text-color);
	background: linear-gradient(259deg, rgba(255, 157, 0, .80) 0%, rgba(255, 104, 34, .80) 100%);
}

.container{
	/* width: 100.8rem; */
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8.7rem;
	margin-top: 10rem;
}

.drink {
	width: 28rem;
	background-color: var(--primery-color);
	border-radius: 50rem;
	padding: 3.2rem 0;
	position: relative;
	cursor: pointer;
}

.drink__comment {
	position: absolute;
	top: 3.2rem;
	right: 7rem;
	background-color: #fff;
	border: 1px solid rgba(229, 229, 229, 50%);
	border-radius: 5rem 1.2rem;
	box-shadow: 0 2.4rem 5rem -1rem rgba(0, 0, 0, .10);
	width: 18rem;
	text-align: center;
	padding: 1.6rem;
	z-index: 1;
	transition: all 340ms cubic-bezier(1, 0, 0, 1) 100ms;
	transform: scale(0) translateX(0);
}

.drink__comment h6 {
	margin-bottom: .8rem;
}

.drink__comment span {
	font-family: "YekanBakh Light";
	font-size: 1.4rem;
	line-height: 2.1rem;
}

.drink__image {
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 20;
	transition: all 340ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 100ms;
}

.drink__back-img {
	position: absolute;
	transition: all 340ms cubic-bezier(0.68, -0.55, .27, 1.55);
	transition-delay: 100ms;
}

.drink__back-img--right {
	top: 6.4rem;
	right: 2rem;
}

.drink__back-img--left {
	bottom: 10.5rem;
	left: 2rem;
}

.drink:hover .drink__image {
	transform: scale(1.2) rotate(-10deg);
}

.drink:hover .drink__back-img {
	filter: blur(.2rem);
}

.drink:hover .drink__comment{
	transform: scale(1) translateX(160px);
}

.drink:hover .drink__back-img--right {
	transform: rotate(10deg);
}

.drink:hover .drink__back-img--left{
	transform: rotate(-10deg);
}


.drink__text-wrapperr {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 1.6rem;
	font-size: 1.8rem;
	margin-top: 3.5rem;
}

.drink__text {
	font-family: "YekanBakh Light";
}

/* Responsive */
@media (max-width: 768px) {
	.container {
  	  flex-direction: column;
  	  gap: 4rem;
  	  margin: 5rem 2rem;
  	}

  	.drink {
  	  width: 100%;
  	  max-width: 30rem;
  	  margin: 0 auto;
	  cursor: default;
  	}
}

@media (max-width: 568px) {
  	.drink:hover .drink__image {
		transform: scale(1) rotate(-10deg);
	}

	.drink__back-img--left {
    	left: 3rem;
	}

	.drink__comment {
    	right: 13rem;
    	width: 15rem;
	}

	.drink__comment h6 {
		margin-bottom: .6rem;
		font-size: 1.6;
	}

	.drink__comment span {
		font-size: 1.2rem;
        line-height: 1.6rem;
	}
}